---
import Card from "../components/Card.astro";
import phoneIcon from "../assets/phone-icon.png";
import emailIcon from "../assets/mail-icon.png";
import ContactForm from "../components/ContactForm.astro";

const contacts = [
  {
    icon: phoneIcon,
    title: "506-888-999",
    description: "Call me",
    cardColor: "var(--card-green)",
  },
  {
    icon: emailIcon,
    title: "michaelj@dev.com",
    description: "Email me",
    cardColor: "var(--card-green)",
  },
];
---

<section class="contact-section" id="contact">
  <h1>Let's Get in Touch</h1>

  <div class="contact-container">
    <div class="contact-form-wrapper">
      <ContactForm actionUrl="/submit-form" />
    </div>

    <div class="contact-grid">
      {contacts.map((contact) => <Card {...contact} />)}
    </div>
  </div>
</section>

<style>
  .contact-section {
    text-align: center;
    padding: 50px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: auto;
  }

  .contact-form-wrapper {
    width: 100%;
    max-width: 800px;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--grey-200);
    font-size: 4em;
  }

  @media only screen and (max-width: 45em) {
    .contact-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
