---
import Card from "../components/Card.astro";
import rectIcon from "../assets/React-icon.svg";
import vueIcon from "../assets/Vue-logo.svg";
import kotlinIcon from "../assets/kotlin.svg";
import astroIcon from "../assets/astroVertical.svg";

const skills = [
  { icon: rectIcon, title: "React", description: "Structuring the web" },
  { icon: vueIcon, title: "Vue", description: "Styling the web" },
  { icon: kotlinIcon, title: "Kotlin", description: "Building Apps" },
  { icon: astroIcon, title: "Astro", description: "Innovating the web" },
];
---

<section class="skills-section" id="skills">
  <h1>Skills</h1>
  <div class="skills-grid">
    {skills.map((skill) => <Card {...skill} />)}
  </div>
</section>

<style>
  .skills-section {
    text-align: center;
    padding: 50px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--grey-200);
    font-size: 4em;
  }

  @media only screen and (max-width: 45em) {
    .skills-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
